* ,
*::before,
*::after{box-sizing: border-box;}


body{
    margin:0;
    padding: 0;
    font-family:'Bricolage Grotesque', sans-serif;
    font-size: 14px;
    
}

.container{
width: 1110px;
margin:0 auto;
padding: 0 15px;
}

.section-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #000000;}

.top-screen{
    min-height: 782px; 
    background-image: linear-gradient(90deg,rgba(180, 23, 57, 0.8)0%,rgb(38, 63, 85)100%),
  url("../images/laptop_ph.webp");
background-repeat: no-repeat;
background-position:center;
background-size: cover;
color: aliceblue;
padding-top: 20px;
}

.header-nav{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 100px;

}

.logo{
  max-width:255px;
  margin-right:30px;
}
.menu{
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0 30px 0 0;
  padding:0 ;

}
.menu-item+.menu-item{
margin-left: 20px;

}

.menu-link{
  line-height: 200px;
text-decoration: none;
color: rgb(252, 253, 253);
text-transform: uppercase;
}

.menu-link.active{
  font-weight:700px; 
}
.btn{
  padding: 17px 34px 16px;
  display: inline-block;
  border-radius: 6px;
  transition: 0.3 ease;
  text-decoration: none; 
text-transform: uppercase;
  
}
.btn:hover{
  color: #cc3574;
  background-color: beige;
  transition: 0.5s ease;
}
.user-block{
  max-width: 255px;
}
.user-block-login-link{
  padding: 11px 29px 12px ;
  color:#c9c5c5;
  border: 1px solid #fff;
}
.hero-btn{
  color:#cc3574;
background-color: #e6dede;
font-weight: bolder;
line-height: 17px;
}

.hero{
  width: 730px;
  margin: 0 auto;
  text-align: center;

}
.hero-title{
font-size: 72px;
margin: 0 0 39px;
font-weight: 700;
letter-spacing: 0.05em;
}

.hero-description{
  margin: 0 auto 39px;
  max-width: 500px;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;}

.video{
  padding-top: 95px;
  padding-bottom: 95px;
}

.video-inner{
  display: flex;
  align-items: center;
}

.video-column {
  max-width: 540px;
  padding-right: 95px;
}

.video-descr {
  line-height: 140%;
  text-align: justify;
}

.video-link {
  line-height: 140%;
  color: #c03d94;
  text-decoration: none;
}

.video-player {
  width: 397px;
  height: 311px;
  border-radius: 15px;
}

.text-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  
}
.section-title{
  text-align: center;
}
.text-item{
  text-align: center;
  background-image:linear-gradient(rgb(236, 239, 241) 0%, rgb(64, 51, 243) 100%), url(/images/bg_photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
border-radius: 10%;
padding: 23px;
margin: 20px;
width: 450px;
min-height: 250px;
}








